<f:form action="List" method="post">
	<f:if condition="{settings.enableFeCategoryFilter}">
		<label for="category"><f:translate key="tx_dddownload.filterCategory" /></label>
		<f:form.select name="category" options="{permittedCategories}" optionLabelField="title" value="{selectedFilterCategory.uid}" prependOptionLabel="{f:translate(key: 'tx_dddownload.filterCategoryChoose')}" />
	</f:if>
	<f:if condition="{settings.enableFeTagFilter}">
		<label for="tag"><f:translate key="tx_dddownload.filterTag" /></label>
		<f:form.select name="tag" options="{permittedTags}" optionLabelField="title" value="{selectedFilterTag.uid}" prependOptionLabel="{f:translate(key: 'tx_dddownload.filterTagChoose')}" />
	</f:if>
	<f:form.submit name="submit" class="btn" value="{f:translate(key: 'tx_dddownload.filterSubmit')}" />
</f:form>
